<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="TestConfiguration" type="AnsiraAutomationFramework.ConfigElement.TestConfiguration, AnsiraAutomationFramework" />-->
    <section name="TestConfiguration" type="Ansira.Test.AutomationFramework.ConfigParser.Core.TestConfiguration, Ansira.Test.AutomationFramework" />
  </configSections>
  <!--
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.145" newVersion="1.1.0.145" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
-->

  <TestConfiguration>
    <testSettings>
      <testSetting name="Staging" aut="https://stg.tpminsight.com/home/Login.aspx" browser="FireFox" testType="SmokeTest" isLog="Y" reportPath="C:\\Automation\\SampleTest\\" autConnectionString="Data Source=EAEmployeeDB.mssql.somee.com;User ID=kartmcad_SQLLogin_1;Password=wtzaxoan1l;persist security info=False;initial catalog=EAEmployeeDB" />
      <testSetting name="QA" aut="https://test-tpmi.ansira.com/Public/Login.html" browser="FireFox" testType="Regression" isLog="Y" reportPath="C:\\Automation\\SampleTest\\" autConnectionString="Data Source=EAEmployeeDB.mssql.somee.com;User ID=kartmcad_SQLLogin_1;Password=wtzaxoan1l;persist security info=False;initial catalog=EAEmployeeDB" />
      <testSetting name="Prod" aut="http://localhost/" browser="FireFox" testType="SmokeTest" isLog="Y" reportPath="C:\\Automation\\SampleTest\\" autConnectionString="Data Source=EAEmployeeDB.mssql.somee.com;User ID=kartmcad_SQLLogin_1;Password=wtzaxoan1l;persist security info=False;initial catalog=EAEmployeeDB" />
    </testSettings>
  </TestConfiguration>
</configuration>